<div class="card  col-md-5 mx-auto">
    <form action="/admin/login" method="POST">
        <div class="card-body">
   
          <div class="card-body">
            <div class="col-xs-2">
               <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" required >
            </div>

            <div class="col-xs-2">
                <label for="Password" >Password: </label>
                <input type="password" class="form-control"   name="password" required>
            </div>
          </div>

            <button class="btn btn-success" type="submit">Sign in</button>
        </div>
    </form>


</div>
