
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
    
  </li>
  


  <!--
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li> -->
  
</ul>
<ul class="nav  nav-pills navbar-right">
  {{#if user}}
   <li class="nav-item navbar-right">
        <a href="/usuarios/registro" class="nav-link active " > REGISTRO</a>
      </li>
    <li class="nav-item navbar-right">
          <a href="/admin/logout" class="nav-link active " style="margin-left:5px" > LOGOUT</a>
        </li>
       
  {{else}}
     
      <li class="nav-item navbar-right">
          <a href="/admin/login" class="nav-link active " style="margin-left:5px" > LOGIN </a>
        </li>
  {{/if}}
    
    </ul>

